div#heading-title::after {
    display: block;
    height: 1.5px;
    background-color: #dc3545;
    content: "";
    width: 40px;
    margin: 0 auto;
    margin-top: 1px;
}

.searchBox {
    padding: 6px 12px;
    background-color: #fff;
    border-radius: 10px;
}

.searchBox input {
    border: 0px;
    text-decoration: underline;
}

.searchBox .fa {
    color: #f00;
}


tbody tr.table-row td {
    text-align: left;
}

tbody tr.table-row td span.status {
    background-color: grey
}

/***********************/
/***** CELL STYLE *****/
/*********************/
tbody tr td.table-column {
    padding: 4px 10px;
}

tbody tr td span.status {
    border-radius: 8px;
    padding: 4px 8px;
}

tbody tr td span.passed {
    color: rgb(1, 24, 1);
    background-color: rgba(47, 110, 47, 0.315);
}