.content {
  border-top: 5px solid grey;
  border-left: 5px solid grey;
  background-color:beige;
  height: 98vh;
}

.navbar {
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.11);
  border-bottom-left-radius: 15px;
}

.navbar-brand {
  background-color: #00f100;
  height: 100%;
  padding: 24px 14px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 15px;
}

.line {
  border-left: 1.5px solid #fff;
  margin: 0px 20px;
}

.form {
  margin: 40px;
}

.form-content {}

input:focus {
  outline: none;
}